<domain type='kvm'>
    <name>{{ name }}</name>
    <memory unit='MiB'>{{ mem_size }}</memory>
    <iothreads>1</iothreads>
    <pm>
      <suspend-to-disk enabled='no'/>
      <suspend-to-mem enabled='no'/>
    </pm>
    <os>
      <type arch='x86_64' machine='q35'>hvm</type>
      <bootmenu enable='no'/>
      <bios useserial='no'/>
    </os>
    <features>
      <acpi/>
      <apic eoi='on'/>
      <pae/>
      <vmport state='off'/>
    </features>
    <pm>
      <suspend-to-disk enabled='no'/>
      <suspend-to-mem enabled='yes'/>
    </pm>
    <devices>
      <emulator>{{ qemu_kvm }}</emulator>
      <memballoon model='none'/>
      <controller type='usb' model='none'/>
      <controller type='pci' index='0' model='pcie-root'/>
      <controller type='pci' index='1' model='dmi-to-pci-bridge'/>
      <controller type='pci' index='2' model='pci-bridge'/>
      <controller type='pci' index='3' model='pcie-expander-bus'>
        <target>
          <node>0</node>
        </target>
      </controller>
      <disk type='file' device='disk'>
        <driver name='qemu' type='qcow2'/>
        <source file='DISK_PATH'/>
        <target dev='DISK_DEV' bus='virtio'/>
        <boot order='1'/>
      </disk>
      <channel type='unix'>
        <source mode='bind'/>
        <target type='virtio' name='org.qemu.guest_agent.0'/>
      </channel>
      <rng model='virtio'>
        <backend model='random'>{{ '/dev/urandom' if libvirt_ver >= 2002001 else '/dev/random' }}</backend>
        <address type='pci' domain='0x0000' bus='0x00' slot='0x09' function='0x0'/>
      </rng>
      <console type='pty'>
        <target type='virtio' port='0'/>
      </console>
    </devices>
    <clock offset='utc'>
      <timer name='kvmclock'/>
    </clock>
</domain>
