*.py[co]
*.spec
.*.sw[o-z]
MANIFEST
dist/
build/
automation-build/
exported-artifacts/
.idea
logs*
mock*
docs/ovirtlago.rst
docs/lago.rst
docs/lago.plugins.rst
docs/lago_template_repo.rst
*ChangeLog
rpmbuild
lago.egg-info
AUTHORS
*/*venv
.bash*
.cache*
