*.py[co]
*.spec
.*.sw[o-z]
MANIFEST
dist/
build/
automation-build/
exported-artifacts/
.idea
logs*
mock*
docs/ovirtlago.rst
docs/lago.rst
docs/lago.plugins.rst
docs/lago_template_repo.rst
*ChangeLog
rpmbuild
lago.egg-info
AUTHORS
*/*venv
.bash*
.cache*
.eggs/
.tox/
tags
cscope.out
*ipynb_checkpoints*
flake8.txt

# coverage
.coverage
coverage.xml
htmlcov/
tests/functional-sdk/.coverage

# Docs artifacts
docs/_static/ChangeLog.txt
docs/lago.providers.libvirt.rst
docs/lago.providers.rst

# Test artifacts
lago.junit.xml
tests/functional/fixtures/basic/dummy_file
tests/functional/fixtures/basic/expected2_down_status_all.tmp
tests/functional/fixtures/basic/expected2_down_status_vm01.tmp
tests/functional/fixtures/basic/expected2_up_status_all.tmp
tests/functional/fixtures/basic/expected2_up_status_vm01.tmp
tests/functional/fixtures/basic/expected_down_status.tmp
tests/functional/fixtures/basic/expected_up_status.tmp
tests/functional/fixtures/basic/repo_store/local_tests_repo:lago_functional_tests:v1
tests/functional/fixtures/basic/repo_store/local_tests_repo:lago_functional_tests:v1.hash
tests/functional/fixtures/basic/repo_store/local_tests_repo:lago_functional_tests:v1.lock
tests/functional/fixtures/basic/repo_store/local_tests_repo:lago_functional_tests:v1.metadata
tests/functional/fixtures/basic/repo_store/vm0_root.qcow2
tests/functional/fixtures/basic/repo_store/vm0_root.qcow2.metadata
tests/functional/fixtures/basic/repo_store/vm0_root.qcow2.skel
tests/functional/fixtures/basic/store/
tests/functional/fixtures/collect/output/
tests/functional/fixtures/collect/repo_store/local_tests_repo:lago_functional_tests:v1
tests/functional/fixtures/collect/repo_store/local_tests_repo:lago_functional_tests:v1.lock
tests/functional/fixtures/collect/repo_store/local_tests_repo:lago_functional_tests:v1.metadata
tests/functional/fixtures/collect/repo_store/vm0_root.qcow2
tests/functional/fixtures/collect/repo_store/vm0_root.qcow2.metadata
tests/functional/fixtures/collect/repo_store/vm0_root.qcow2.skel
tests/functional/fixtures/deploy/nicefile.tmp
tests/functional/fixtures/deploy/repo_store/vm0_root.qcow2
tests/functional/fixtures/deploy/repo_store/vm0_root.qcow2.metadata
tests/functional/fixtures/deploy/repo_store/vm0_root.qcow2.skel
tests/functional/fixtures/deploy/store/local_tests_repo:cirros:v1
tests/functional/fixtures/deploy/store/local_tests_repo:cirros:v1.lock
tests/functional/fixtures/deploy/store/local_tests_repo:cirros:v1.metadata
tests/functional/fixtures/deploy/uglyfile.tmp
tests/functional/fixtures/export/dummy_file
tests/functional/fixtures/export/layered_exported_env/
tests/functional/fixtures/export/repo_store/vm0_root.qcow2
tests/functional/fixtures/export/repo_store/vm0_root.qcow2.metadata
tests/functional/fixtures/export/repo_store/vm0_root.qcow2.skel
tests/functional/fixtures/export/sa_exported_env/
tests/functional/fixtures/export/store/
tests/functional/fixtures/start/.lago/
tests/functional/fixtures/start/store/local_tests_repo:lago_functional_tests:v1
tests/functional/fixtures/start/store/local_tests_repo:lago_functional_tests:v1.lock
tests/functional/fixtures/start/store/local_tests_repo:lago_functional_tests:v1.metadata
tests/functional/fixtures/status/prefix/
